body {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1, h2, h3, p, button, a, div {
    font-family: 'Roboto', sans-serif;
}

div {
    display: flex;
}

.card {
    border-radius: 30px;
    padding: 26px;
    margin: 20px;
    max-width: 900px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 42px -24px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 42px -24px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 42px -24px rgba(0,0,0,0.55);
}

input, textarea {
    padding: 14px;
    border: none;
    border-radius: 6px;
    background-color: #eee;
    margin: 10px 0;
    display: flex;
    flex: 1;
    font-size: 14px;
}

textarea {
    min-height: 100px;
}

.button {
    background-color: #72b9aa;
    color: #fff;
    padding: 14px;
    display: flex;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.affiliate {
    margin-top: 150px;
    color: #666;
    font-size: 12px;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: #72B9AA;
    width: 100vw;
    justify-content: center;
}

footer a {
    display: flex;
    flex-direction: row;
    color: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    width: 250px;
    transition: 200ms;
}

footer a:hover {
    background-color: #82CABB;
}

footer img {
    height: 20px;
    margin-right: 10px;
}


/* .reviews ::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  .reviews  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgb(114, 185, 170, 1);
    box-shadow: 0 0 1px rgba(95, 89, 89, 0.5);
  } */
