body {
   justify-content: center;
}

.banner {
   width: 100vw;
   position: relative;
   height: 400px;
   overflow: hidden;
}

.banner .logo {
   position: absolute;
   top: 80px;
   width: 100vw;
   left: 0;
   justify-content: center;
}

.banner .logo img {
   width: 400px;
}

.wave {
   width: 100%;
   height: 400px;
   max-height: 100%;
   object-fit: fill;
   min-width: 700px;
}

.intro-card-container {
   transform: translateY(-200px);
   width: 100%;
   justify-content: center;
}

.offset {
   margin-top: -200px !important;
}

.intro-card .about {
   flex-direction: column;
   margin-left: 20px;
}

.intro-card .about>p {
   font-weight: light;
   font-style: italic;
}

.intro-card .about .categories {
   flex-wrap: wrap;
}

.intro-card .about .categories a {
   font-weight: bold;
   background-color: #72b9aa;
   color: #fff;
   border-radius: 19px;
   padding: 10px 20px;
   margin: 0;
   margin-right: 10px;
   margin-top: 10px;
   transition: 200ms;
}

.intro-card .about .categories p:hover {
   transform: scale(1.1);
}

.intro-card .profile {
   background-image: url('../img/maria.jpg');
   background-size: cover;
   background-position: center;
   width: 120px;
   height: 120px;
   border-radius: 100%;
   border: 3px #72b9aa solid;
   flex-shrink: 0;
}

/* VIDEO ELEMENT */
.video {
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 952px;
   margin: 20px;
}

.video h2 {
   color: #808080;
   text-transform: uppercase;
}

/* REVIEWS */
.reviews {
   position: relative;
   max-width: 980px;
   width: 100vw;
   margin: 30px 0;
}

.reviews .slider {
   font-style: italic;
   flex-wrap: nowrap;
   overflow: scroll;
}

.reviews p {
   margin: 0;
}

.reviews p:last-of-type {
   display: flex;
   align-self: flex-end;
   flex: 1;
   align-items: flex-end;
}


.reviews .slider>div {
   flex-shrink: 0;
   max-width: 300px;
   flex-direction: column;
   position: relative;
}

.reviews .fadeElement {
   background: rgb(255,255,255);
   background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
   height: 100%;
   width: 30px;
   position: absolute;
   right: 0;
}

.reviews .fadeElement.left {
   left: 0;
   transform: rotate(180deg);
}

.reviews img {
   position: absolute;
   width: 42px;
   top: -5px;
   left: -6px;
}

/* INFOTEXT */

.infoText {
   max-width: 952px;
   flex-direction: column;
   margin: 30px 20px;
}

.infoText>div {
   align-items: center;
   margin: 4px 0;
}

.infoText img {
   height: 30px;
   width: 30px;
   margin-right: 20px;
}

.infoText p {
   color: #666666;
}

/* ABOUT */

.about {
   flex-direction: column;
   max-width: 952px;
   width: calc(100% - 40px);
   margin: 20px 0;
}

.about h1 {
   margin-bottom: 0;
   color: #72b9aa;
}

.about p {
   margin-top: 10px;
   color: #808080;
}

.about .icons {
   flex-direction: row;
}

.about a {
   display: flex;
   flex-direction: row;
   text-decoration: none;
   color: #808080;
   align-items: center;
   margin-right: 20px;
}

.about a p {
   margin: 5px 0;
}

.about a img {
   width: 16px;
   margin-right: 5px;
}

/* KONTAKTFORMULÄR */
.contact {
   flex-direction: column;
   max-width: 952px;
   width: calc(100% - 40px);
   margin-top: 20px;
}

.contact .button {
   margin: 10px 0;
}