@media screen and (max-width: 480px) {
  .intro-card {
    flex-direction: column;
    align-items: center;
  }

  .about .icons {
    flex-direction: column;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }
  footer a {
    justify-content: center;
  }
}